.cryptoDisplay {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f1f3f6;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .tickerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .tickerTape,
  .advancedChart {
    width: 100%;
    max-width: 600px;
    margin: 10px;
  }
  
  .maximized {
    max-height: 1000px;
  }
  
  .tickerTape iframe,
  .advancedChart iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
  }
  