.regionCardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
  }
  
  .regionCard {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    border: 1px solid #50ae55;
    background-color: rgba(34, 34, 34, 0.9);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    margin: 8px; /* updated */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
  .regionCardImage {
    height: 64px;
    width: 64px;
    /* margin-top: 8px; */
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .regionCardImage svg {
    height: 100%;
    width: 100%;
  }
  .regionCardTitle {
    color:  #50ae55;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
  }
  
  .regionCard:hover {
    transform: scale(1.05);
  }
  
  .regionCardSelected {
    background-color: #0057ff;
    color: #fff;
  }
